<ul>
    <li><a href="/admin#">Opzione-1</a></li>
    <li><a href="/admin#">Opzione-2</a></li>
    <li><a href="/admin#">Opzione-3</a></li>
</ul>
<p>Pannello di amministrazione</p>
<p><a href="/logout">Logout</a></p>