<header>
    <h1>dBOX - Administration</h1>
    <aside><a href="/logout">Logout</a></aside>
</header>
<ul>
    <li><a href="/admin/filelist">Lista Files</a></li>
    <li><a href="/admin/messaggi">Opzione-2</a></li>
    <li><a href="/admin#">Opzione-3</a></li>
</ul>