<h3>Confermi l'eliminazione del file <i><%= @filename %></i>?</h3>
<p>Inserire password</p>
<form action="/delete/<%= @filename %>/confirm" enctype="multipart/form-data" method="POST">
    <p><input type="text" name="deletepassword" placeholder="Password" />
    <p><input type="submit" value="Elimina" />
</form>
