<h2>Cosa succede qui?</h2>
<p>Questo posto serve per scambiare due parole o condividere files in maniera anonima e decentralizzata con le persone collegate nei dintorni.</p>
<h3 id="chat">Lascia un messaggio</h3>
<div>
    <table>
    <tr>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </table>
</div>