<h2 id="info">Informazioni su <i><%= @db_file[0][1] %></i></h2>
<table width=100%>
<tr>
    <td align="center"><a href="/downloads/<%= @db_file[0][1] %>"><i class="fa fa-download fa-3x" aria-hidden="true"></i></a></td>
    <td align="center"><a href="/delete/<%= @db_file[0][1] %>/confirm#delete"><i title="Elimina" class="fa fa-trash fa-3x" aria-hidden="true"></i></a></td>
</tr>
</table>
<%= @data %>