<h3 id="carica">Condividi un file</h3>
<p>Qui puoi caricare qualsiasi cosa.</p>
<form action="/upload" enctype="multipart/form-data" method="POST">
    <p><input type="file" name="file" /></p>
    <p><input type="text" name="password" placeholder="Password" /> <i title="Password per l'eliminazione del file. Non dimenticarla!" class="fa fa-info-circle" aria-hidden="true"></i></p>
    <p><input type="submit" value="Carica" /></p>
</form>
